@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif !important;
}

.image {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 31.12%,
      rgba(0, 0, 0, 0.5) 66.06%
    ),
    url("../images/pexels-melvin-buezo-2529148.jpg") center no-repeat;

  background-size: cover;
}

.imgs {
  background: url("../images/img2.jpg") no-repeat;
  background-size: cover;
}
.imgss {
  background: url("../images/img1.jpg") no-repeat;
  background-size: cover;
}

.tag {
  position: absolute;
}

.listing-banner {
  background: url("../images/listing.png") no-repeat;
  background-color: black;
  background-size: cover;
  background-position: center;
}
